@model List<Achareh.Domain.Core.Entities.Request.HomeService>

<!doctype html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>مدیریت هوم سرویس‌ها</title>
    <link rel="stylesheet" href="~/AdminTemplate/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/plugins/footable-bootstrap/css/footable.bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/plugins/footable-bootstrap/css/footable.standalone.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/css/style.min.css">
</head>

<body class="theme-blush">
    <section class="content contact">
        <div class="body_scroll">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>مدیریت هوم سرویس‌ها</h2>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <a asp-area="Admin" asp-controller="HomeService" asp-action="Create" class="btn btn-success btn-icon float-right">
                            <i class="zmdi zmdi-plus"></i> افزودن سرویس جدید
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0 c_list c_table">
                                    <thead>
                                        <tr>
                                            <th>شناسه</th>
                                            <th style="width: 220px;">تصویر</th>
                                            <th style="padding-right: 40px;">نام</th>
                                            <th>دسته‌بندی</th>
                                            <th>قیمت پایه</th>
                                            <th>توضیحات</th>
                                            <th>اقدامات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Any())
                                        {
                                            @foreach (var service in Model)
                                            {
                                                <tr>
                                                    <td>@service.Id</td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(service.ImagePath))
                                                        {
                                                            <img src="@service.ImagePath" class="avatar w30" alt="User Image">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/AdminTemplate/images/xs/avatar1.jpg" class="avatar w30" alt="Default Avatar">
                                                        }
                                                       
                                                    </td>
                                                    <td style="white-space: nowrap; padding-right: 40px;">@service.Title</td>
                                                    <td>@service.SubCategory.Title</td>
                                                    <td>@service.Price</td>
                                                    <td></td> 
                                                    <td>
                                                        <a href="@Url.Action("Edit", "HomeService", new { id = service.Id })" class="btn btn-primary btn-sm">
                                                            <i class="zmdi zmdi-edit"></i> ویرایش
                                                        </a>
                                                        <a href="@Url.Action("Delete", "HomeService", new { id = service.Id })" class="btn btn-danger btn-sm">
                                                            <i class="zmdi zmdi-delete"></i> حذف
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7" class="text-center">هیچ سرویسی یافت نشد</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/AdminTemplate/bundles/libscripts.bundle.js"></script>
    <script src="~/AdminTemplate/bundles/vendorscripts.bundle.js"></script>
    <script src="~/AdminTemplate/bundles/footable.bundle.js"></script>
    <script src="~/AdminTemplate/bundles/mainscripts.bundle.js"></script>
</body>

</html>
