
@model List<CustomerExpertViewModel>

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>:: Aero Bootstrap4 Admin ::</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="~/AdminTemplate/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminTemplate/plugins/footable-bootstrap/css/footable.bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminTemplate/plugins/footable-bootstrap/css/footable.standalone.min.css">
	<link rel="stylesheet" href="~/AdminTemplate/css/style.min.css">
</head>

<body class="theme-blush">
	<!-- Page Loader -->
	<div class="page-loader-wrapper">
		<div class="loader">
			<div class="m-t-30"><img class="zmdi-hc-spin" src="~/AdminTemplate/images/loader.svg" width="48" height="48" alt="Aero"></div>
			<p>لطفا صبر کنید...</p>
		</div>
	</div>

	<!-- Overlay For Sidebars -->
	<div class="overlay"></div>

	<section class="content contact">
		<div class="body_scroll">
			<div class="block-header">
				<div class="row">
					<div class="col-lg-7 col-md-6 col-sm-12">
						<h2>مخاطبین</h2>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> آئرو</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0);">برنامه</a></li>
							<li class="breadcrumb-item active">مخاطبین</li>
						</ul>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12">
						<a asp-area="Admin" asp-controller="Customer" asp-action="Create" class="btn btn-success btn-icon float-right">
							<i class="zmdi zmdi-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-lg-12">
						<div class="card">
							<div class="table-responsive">
								<table class="table table-hover mb-0 c_list c_table">
									<thead>
										<tr>
											<th>#</th>
											<th>ایمیل</th>
											<th>نوع کاربر</th>
											<th>نام</th>
											<th>نام خانوادگی</th>
											<th>اقدام</th>
										</tr>
									</thead>
									<tbody>
										@if (Model != null && Model.Any())
										{
											@foreach (var user in Model)
											{
												<tr>
													<td>
														<div class="checkbox">
															<input id="delete_@user.Id" type="checkbox">
															<label for="delete_@user.Id">&nbsp;</label>
														</div>
													</td>

													<td>
														<span class="email"><a href="mailto:@user.Email" title="">@user.Email</a></span>
													</td>
													<td>
														<span class="user-type">مشتری</span>
													</td>
													<td>
														<span class="firstname">@user.FirstName</span>
													</td>
													<td>
														<span class="lastname">@user.LastName</span>
													</td>
													<td>
														<a asp-action="Edit" asp-controller="Customer" asp-route-id="@user.Id" class="btn btn-primary btn-sm">
															<i class="zmdi zmdi-edit"></i> ویرایش
														</a>

														<a asp-action="Delete" asp-controller="Customer" asp-route-id="@user.Id" class="btn btn-danger btn-sm">
															<i class="zmdi zmdi-delete"></i> حذف
														</a>

													</td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="6" class="text-center">هیچ کاربری یافت نشد</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Jquery Core Js -->
	<script src="~/AdminTemplate/bundles/libscripts.bundle.js"></script>
	<script src="~/AdminTemplate/bundles/vendorscripts.bundle.js"></script>
	<script src="~/AdminTemplate/bundles/footable.bundle.js"></script>
	<script src="~/AdminTemplate/bundles/mainscripts.bundle.js"></script>
	<script src="~/AdminTemplate/js/pages/tables/footable.js"></script>
</body>

</html>
