@model List<Achareh.Domain.Core.Entities.Request.HomeService>
<head>

    <link rel="stylesheet" href="~/UsersTemplate/css/custom/category-details.css">
</head>

<body>

    <div class="sidebar-part">
        <div class="sidebar-body">
            <div class="sidebar-header">
                <a href="index.html" class="sidebar-logo">
                    <img src="~/UsersTemplate/images/logo.png"
                         alt="logo">
                </a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-profile">
                    <a href="#" class="sidebar-avatar">
                        <img src="~/UsersTemplate/images/avatar/01.jpg"
                             alt="avatar">
                    </a>
                    <h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
                                                                                  class="btn btn-inline sidebar-btn">
                        <i class="fas fa-plus-circle"></i><span>
                            تبلیغ خود را ارسال
                            کنید
                        </span>
                    </a>
                </div>
               
                <div class="sidebar-footer">
                    <p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
                    <p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="btmbar-part">
        <div class="container">
            <ul class="btmbar-widget">
                <li><a href="user-form.html"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i><sup>0</sup></a></li>
                <li>
                    <a class="plus-btn" href="ad-post.html">
                       
                    </a>
                </li>
                <li><a href="#"><i class="fas fa-bell"></i><sup>0</sup></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i><sup>0</sup></a></li>
            </ul>
        </div>
    </div>
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>جزئیات رده تبلیغات</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="category-list.html">لیست دسته ها</a></li>
                            <li class="breadcrumb-item active" aria-current="page">جزئیات دسته</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ad-list-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-filter">
                        <div class="product-page-number">
                        </div>
                        <ul class="product-card-type">
                            <li class="grid-verti active"><i class="fas fa-grip-vertical"></i></li>
                            <li class="grid-hori"><i class="fas fa-grip-horizontal"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row content-reverse">
                <div class="col-lg-9">
                    @foreach (var homeService in Model)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-4 card-grid">
                            <div class="product-card">
                                <div class="product-head">
                                    <div class="product-img" style="background:url('@homeService.ImagePath') no-repeat center; background-size:cover;">
                                        <ul class="product-meta">
                                            <li><i class="fas fa-eye"></i><p>@homeService.VisitCount</p></li>
                                            <li><i class="fas fa-star"></i><p>4.5/7</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-tag">
                                        <i class="fas fa-tags"></i>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">@homeService.SubCategory.Category.Title</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">@homeService.SubCategory.Title</li>
                                            <li class="breadcrumb-item active" aria-current="page" style="font-weight: bold;">@homeService.Title</li>
                                        </ol>
                                    </div>
                                    <div class="product-title">
                                        <h6>@homeService.Description</h6>
                                        <ul class="product-location"></ul>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-price">
                                            <h6 style="color: darkgoldenrod; font-size: 0.9em;">قیمت پایه @homeService.Price تومان</h6>
                                        </div>
                                        <ul class="product-widget">
                                            <li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    @if (User.IsInRole("Customer"))
                                                    {
                                                        <a href="/Users/Request/RequestIndex?homeServiceId=@homeService.Id" class="btn btn-success">سفارش سرویس جدید</a>
                                                    }
                                                    else if (User.IsInRole("Expert"))
                                                    {
                                                        <button class="btn btn-secondary" disabled>عدم امکان ثبت توسط کارشناس</button>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="/Users/Account/Login" class="btn btn-success">برای ثبت سفارش ابتدا وارد شوید</a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    
</body>

