@model List<Achareh.Domain.Core.Entities.Request.HomeService>
<head>
    <style>
        .btn-success {
            background-color: #28a745; 
            color: white; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 5px; 
            text-decoration: none;
        }

            .btn-success:hover {
                background-color: #218838; 
            }
    </style>
    <link rel="stylesheet" href="~/UsersTemplate/css/custom/category-details.css">
</head>

<body>





    <header class="header-part">
        <div class="container">
            <div class="header-content">
                <div class="header-left">
                    <ul class="header-widget">
                        <li><button type="button" class="header-menu"><i class="fas fa-align-left"></i></button></li>
                        <li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a></li>
                        <li>
                            <a href="user-form.html" class="header-user">

                            </a>
                        </li>
                        <li><button type="button" class="header-src"><i class="fas fa-search"></i></button></li>
                    </ul>
                </div>


            </div>
        </div>
    </header>
    <div class="sidebar-part">
        <div class="sidebar-body">
            <div class="sidebar-header">
                <a asp-area="Users" asp-controller="Home" asp-action="Index" class="sidebar-logo">
                    <img src="~/UsersTemplate/images/logo.png"
                         alt="logo">
                </a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-profile">
                    <a href="#" class="sidebar-avatar">
                        <img src="~/UsersTemplate/images/avatar/01.jpg"
                             alt="avatar">
                    </a>
                    <h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
                                                                                  class="btn btn-inline sidebar-btn">
                        <i class="fas fa-plus-circle"></i><span>
                            تبلیغ خود را ارسال
                            کنید
                        </span>
                    </a>
                </div>
                <div class="sidebar-menu">
                    <ul class="nav nav-tabs">
                        <li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>

                    </ul>
                    <div class="tab-pane active" id="main-menu">
                        <ul class="navbar-list">

                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        دسته
                                        بندی
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="category-list.html">تمیزکاری</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">ساختمان</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">تعمیرات اشیا</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">اسباب کشی و حمل بار</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">خودرو</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">سلامت و زیبایی</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">سازمان ها و مجتمع ها</a></li>
                                    <li><a class="dropdown-link" href="category-list.html">سایر</a></li>

                                </ul>
                            </li>


                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>صفحات</span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="dropdown-link">صفحه اصلی</a></li>
                                    <li><a asp-area="Users" asp-controller="CustomerDashboard" asp-action="Index" class="dropdown-link">پروفایل مشتری</a></li>
                                    <li><a asp-area="Users" asp-controller="Account" asp-action="Login" class="dropdown-link">ورود</a></li>
                                    <li><a asp-area="Users" asp-controller="Account" asp-action="Logout" class="dropdown-link">خروج</a></li>

                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        وبلاگ
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="blog-list.html">وبلاگ لیستی </a></li>
                                    <li><a class="dropdown-link" href="blog-details.html">جزئیات وبلاگ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" href="contact.html">تماس با ما</a></li>
                        </ul>
                    </div>

                </div>
                <div class="sidebar-footer">
                    <p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
                    <p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
                </div>
            </div>
        </div>
    </div>







    <div class="sidebar-part">
        <div class="sidebar-body">
            <div class="sidebar-header">
                <a href="index.html" class="sidebar-logo">
                    <img src="~/UsersTemplate/images/logo.png"
                         alt="logo">
                </a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-profile">
                    <a href="#" class="sidebar-avatar">
                        <img src="~/UsersTemplate/images/avatar/01.jpg"
                             alt="avatar">
                    </a>
                    <h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
                                                                                  class="btn btn-inline sidebar-btn">
                        <i class="fas fa-plus-circle"></i><span>
                            تبلیغ خود را ارسال
                            کنید
                        </span>
                    </a>
                </div>
               
                <div class="sidebar-footer">
                    <p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
                    <p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="btmbar-part">
        <div class="container">
            <ul class="btmbar-widget">
                <li><a href="user-form.html"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i><sup>0</sup></a></li>
                <li>
                    <a class="plus-btn" href="ad-post.html">
                       
                    </a>
                </li>
                <li><a href="#"><i class="fas fa-bell"></i><sup>0</sup></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i><sup>0</sup></a></li>
            </ul>
        </div>
    </div>
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>جزئیات رده تبلیغات</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="category-list.html">لیست دسته ها</a></li>
                            <li class="breadcrumb-item active" aria-current="page">جزئیات دسته</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ad-list-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-filter">
                        <div class="product-page-number">
                        </div>
                        <ul class="product-card-type">
                            <li class="grid-verti active"><i class="fas fa-grip-vertical"></i></li>
                            <li class="grid-hori"><i class="fas fa-grip-horizontal"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row content-reverse">
                <div class="col-lg-9">
                    @foreach (var homeService in Model)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-4 card-grid">
                            <div class="product-card">
                                <div class="product-head">
                                    <div class="product-img" style="background:url('@homeService.ImagePath') no-repeat center; background-size:cover;">
                                        <ul class="product-meta">
                                            <li><i class="fas fa-eye"></i><p>@homeService.VisitCount</p></li>
                                            <li><i class="fas fa-star"></i><p>4.5/7</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-tag">
                                        <i class="fas fa-tags"></i>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">@homeService.SubCategory.Category.Title</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">@homeService.SubCategory.Title</li>
                                            <li class="breadcrumb-item active" aria-current="page" style="font-weight: bold;">@homeService.Title</li>
                                        </ol>
                                    </div>
                                    <div class="product-title">
                                        <h6>@homeService.Description</h6>
                                        <ul class="product-location"></ul>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-price">
                                            <h6 style="color: darkgoldenrod; font-size: 0.9em;">قیمت پایه @homeService.Price تومان</h6>
                                        </div>
                                        <ul class="product-widget">
                                            <li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    @if (User.IsInRole("Customer"))
                                                    {

                                                        <a asp-route-homeServiceId=@homeService.Id asp-area="Users" asp-controller="Request" asp-action="AddRequest" class="btn btn-success" style="background-color: #28a745; color: white" >سفارش سرویس جدید</a>
                                                    }
                                                    else if (User.IsInRole("Expert"))
                                                    {
                                                        <button class="btn btn-secondary" style="background-color: #28a745; color: white" disabled>عدم امکان ثبت توسط کارشناس</button>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="/Users/Account/Login" class="btn btn-success" style="background-color: #28a745; color: white">برای ثبت سفارش ابتدا وارد شوید</a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    
</body>

