@using Achareh.Domain.Core.Entities.User
@model Customer

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://www.rtl-theme.com/author/tn_plugin">
    <meta name="name" content="Classicads">
    <meta name="type" content="Classified Advertising">
    <meta name="title" content="Classicads - Classified Ads HTML Template">
    <meta name="keywords"
          content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
    <title>کلاسیک ادز - پروفایل</title>
    <link rel="icon" href="~/UsersTemplate/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="~/UsersTemplate/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/UsersTemplate/css/custom/main.css">
    <link rel="stylesheet" href="~/UsersTemplate/css/custom/profile.css">

</head>
<body>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <div class="sidebar-part">
        <div class="sidebar-body">
            <div class="sidebar-header">
                <a href="index.html" class="sidebar-logo">
                    <img src="/UsersTemplate/images/logo.png"
                         alt="logo">
                </a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-profile">
                    <a href="#" class="sidebar-avatar">
                       
                    </a>
                    <h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
                                                                                  class="btn btn-inline sidebar-btn">
                        <i class="fas fa-plus-circle"></i><span>
                            تبلیغ خود را ارسال
                            کنید
                        </span>
                    </a>
                </div>
                <div class="sidebar-menu">
                    <ul class="nav nav-tabs">
                        <li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>
                        <li><a href="#author-menu" class="nav-link" data-toggle="tab">منوی نویسنده</a></li>
                    </ul>
                    <div class="tab-pane active" id="main-menu">
                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href="index.html">صفحه اصلی</a></li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        دسته
                                        بندی
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="category-list.html">لیست دسته ها</a></li>
                                    <li><a class="dropdown-link" href="category-details.html">جزئیات دسته</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        لیست
                                        تبلیغات
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="grid-list.html">لیست گرید</a></li>
                                    <li><a class="dropdown-link" href="leftbar-list.html">لیست نوار راست</a></li>
                                    <li><a class="dropdown-link" href="rightbar-list.html">لیست نوار چپ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        جزئیات
                                        تبلیغات
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="grid-details.html">جزئیات گرید</a></li>
                                    <li><a class="dropdown-link" href="leftbar-details.html">جزئیات نوار راست</a></li>
                                    <li><a class="dropdown-link" href="rightbar-details.html">جزئیات نوار چپ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>صفحات</span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="about.html">درباره ما</a></li>
                                    <li><a class="dropdown-link" href="compare.html">مقایسه تبلیغات</a></li>
                                    <li><a class="dropdown-link" href="cities.html">آگهی توسط شهرها</a></li>
                                    <li><a class="dropdown-link" href="price.html">قیمت گذاری</a></li>
                                    <li><a class="dropdown-link" href="user-form.html">فرم کاربر</a></li>
                                    <li><a class="dropdown-link" href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        وبلاگ
                                    </span><i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="blog-list.html">وبلاگ لیستی </a></li>
                                    <li><a class="dropdown-link" href="blog-details.html">جزئیات وبلاگ</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" asp-action="UpdateProfile" >تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="author-menu">
                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href="Index">پروفایل</a></li>
                            <li class="navbar-item"><a class="navbar-link" asp-controller="CustomerDashboard" asp-action="RequestList">سفارشات من</a></li>
                            <li class="navbar-item"><a class="navbar-link" asp-controller="CustomerDashboard" asp-action="EditCustomerInfo">ویرایش مشخصات </a></li>
                            <li class="navbar-item"><a class="navbar-link" asp-controller="Account" asp-action="Logout">خروج </a></li>
                           
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link" href="#">
                                    <span>
                                        پیام
                                    </span><span>0</span>
                                </a>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link"
                                   href="#"><span>اعلانات</span><span>0</span></a>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" asp-controller="Account" asp-action="Logout">خروج </a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-footer">
                    <p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
                    <p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="btmbar-part">
        <div class="container">
            <ul class="btmbar-widget">
                <li><a href="user-form.html"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i></a></li>
                <li>
                    <a class="plus-btn" href="ad-post.html">
                        <i class="fas fa-plus"></i><span>
                            پست خود را تبلیغ کنید
                        </span>
                    </a>
                </li>
       
            </ul>
        </div>
    </div>
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>پروفایل</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index" >صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">پروفایل</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dash-header-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                 
                </div>
                <div class="col-sm-8 col-md-9 col-lg-3">
                    <div class="dash-intro">
                        <h4><a href="#">@($"{Model.User.FirstName} {Model.User.LastName}")</a></h4>
                        <h5>فروشنده جدید</h5>
                    </div>
                    <ul class="dash-meta">
                        <li><i class="fas fa-phone-alt"></i><span>@Model.User.PhoneNumber</span></li>
                        <li><i class="fas fa-envelope"></i><span>@Model.User.Email</span></li>
                        <li><i class="fas fa-map-marker-alt"></i><span>@Model.User.City.Title</span></li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="dash-focus dash-list">
                                <h2>2433</h2>
                                <p>آگهی تبلیغ </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="dash-focus dash-book">
                                <h2>2433</h2>
                                <p>نشان دار کردن تبلیغ </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="dash-focus dash-rev">
                                <h2>2433</h2>
                                <p>مجموع نظرات</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="dash-menu-list">
                        <ul>
                            <li class="navbar-item"><a class="active" href="Index">پروفایل</a></li>
                            <li class="navbar-item"><a asp-controller ="CustomerDashboard" asp-action="RequestList">سفارشات من</a></li>
                            <li class="navbar-item"><a asp-controller="CustomerDashboard" asp-action="EditCustomerInfo">ویرایش مشخصات </a></li>
                            <li class="navbar-item"><a href="SuggestionList">پیشنهادات من </a></li>
                            <li class="navbar-item"><a asp-controller="Account" asp-action="Logout">خروج </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="profile-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="account-card">
                        <div class="account-title">
                            <h3>مقدمه </h3>
                        </div>
                        <div class="profile-intro">
                            <div class="profile-author">
                                <a href="#"><img src="@Model.User.ImagePath" alt="avatar"></a>
                                <h4>@($"{Model.User.FirstName} {Model.User.LastName}")</h4>
                                <p><span>عضو شده:</span>@Model.User.CreatedAt</p>
                            </div>
                            <ul class="account-list">
                                <li>
                                    <h6>مجموع سفارش:</h6>
                                    <p>@Model.Requests.Count()</p>
                                </li>
                                <li>
                                    <h6>لغو سفارش:</h6>
                                    <p>انجام ندادم :(</p>
                                </li>
                                <li>
                                    <h6>موجودی:</h6>
                                    <p>@Model.User.Inventory</p>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="account-card">
                        <div class="account-title">
                            <h3>اطلاعات مشتری </h3>
                        </div>
                        <ul class="account-list">

                            <li>
                                <h6>استان:</h6>
                                <p>@Model.User.City.Title</p>
                            </li>

                            <li>
                                <h6>آدرس:</h6>
                                <p>@Model.User.Address</p>
                            </li>


                            <li>
                                <h6>ایمیل:</h6>
                                <p>@Model.User.Email</p>
                            </li>
                            <li>
                                <h6>تلفن:</h6>
                                <p>
                                    @Model.User.PhoneNumber
                                </p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
          </div>      
        </div>
    </section>

    <script src="~/UsersTemplate/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/UsersTemplate/js/vendor/popper.min.js"></script>
    <script src="~/UsersTemplate/js/vendor/bootstrap.min.js"></script>
    <script src="~/UsersTemplate/js/custom/main.js"></script>


</body>

</html>