@using Achareh.Domain.Core.Entities.Request
@using Achareh.Domain.Core.Enums
@using Framework
@model List<Request>

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/UsersTemplate/css/custom/compare.css">
</head>

<body>




	<header class="header-part">
		<div class="container">
			<div class="header-content">
				<div class="header-left">
					<ul class="header-widget">
						<li><button type="button" class="header-menu"><i class="fas fa-align-left"></i></button></li>
						<li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a></li>
						<li>
							<a href="user-form.html" class="header-user">

							</a>
						</li>
						<li><button type="button" class="header-src"><i class="fas fa-search"></i></button></li>
					</ul>
				</div>


			</div>
		</div>
	</header>
	<div class="sidebar-part">
		<div class="sidebar-body">
			<div class="sidebar-header">
				<a asp-area="Users" asp-controller="Home" asp-action="Index" class="sidebar-logo">
					<img src="~/UsersTemplate/images/logo.png"
						 alt="logo">
				</a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
			</div>
			<div class="sidebar-content">
				<div class="sidebar-profile">
					<a href="#" class="sidebar-avatar">
						<img src="~/UsersTemplate/images/avatar/01.jpg"
							 alt="avatar">
					</a>
					<h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
																   class="btn btn-inline sidebar-btn">
						<i class="fas fa-plus-circle"></i><span>
							تبلیغ خود را ارسال
							کنید
						</span>
					</a>
				</div>
				<div class="sidebar-menu">
					<ul class="nav nav-tabs">
						<li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>

					</ul>
					<div class="tab-pane active" id="main-menu">
						<ul class="navbar-list">

							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>
										دسته
										بندی
									</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a class="dropdown-link" href="category-list.html">تمیزکاری</a></li>
									<li><a class="dropdown-link" href="category-list.html">ساختمان</a></li>
									<li><a class="dropdown-link" href="category-list.html">تعمیرات اشیا</a></li>
									<li><a class="dropdown-link" href="category-list.html">اسباب کشی و حمل بار</a></li>
									<li><a class="dropdown-link" href="category-list.html">خودرو</a></li>
									<li><a class="dropdown-link" href="category-list.html">سلامت و زیبایی</a></li>
									<li><a class="dropdown-link" href="category-list.html">سازمان ها و مجتمع ها</a></li>
									<li><a class="dropdown-link" href="category-list.html">سایر</a></li>

								</ul>
							</li>


							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>صفحات</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="dropdown-link">صفحه اصلی</a></li>
									<li><a asp-area="Users" asp-controller="CustomerDashboard" asp-action="Index" class="dropdown-link">پروفایل مشتری</a></li>
									<li><a asp-area="Users" asp-controller="Account" asp-action="Login" class="dropdown-link">ورود</a></li>
									<li><a asp-area="Users" asp-controller="Account" asp-action="Logout" class="dropdown-link">خروج</a></li>

								</ul>
							</li>
							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>
										وبلاگ
									</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a class="dropdown-link" href="blog-list.html">وبلاگ لیستی </a></li>
									<li><a class="dropdown-link" href="blog-details.html">جزئیات وبلاگ</a></li>
								</ul>
							</li>
							<li class="navbar-item"><a class="navbar-link" href="contact.html">تماس با ما</a></li>
						</ul>
					</div>

				</div>
				<div class="sidebar-footer">
					<p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
					<p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
				</div>
			</div>
		</div>
	</div>

	<section class="single-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-content">
						<h2>فهرست مقایسه تبلیغ </h2>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
							<li class="breadcrumb-item"><a href="leftbar-list.html">لیست نوار راست</a></li>
							<li class="breadcrumb-item active" aria-current="page">مقایسه </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>





	<section class="compare-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="compare-list">
                        <table class="table-list">
                            <thead>
                                <tr>
                                    <th scope="col">شناسه سفارش</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">جزئیات سفارش</th>
                                    <th scope="col">پیشنهادات</th>
                                    <th scope="col">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var request in Model)
                                    {
                                        <tr>
                                            <td>@request.Id</td>
                                            <td>@request.RequestStatus.GetEnumDisplayName()</td>
                                            <td><a asp-action="RequestDetails" asp-route-id="@request.Id" class="btn btn-primary">نمایش</a></td>
                                            <td><a asp-action="OfferList" asp-route-id="@request.Id" class="btn btn-primary">پیشنهادات</a></td>
                                            <td>
                                                @if (request.RequestStatus == StatusEnum.WorkStarted)
                                                {
                                                    <a asp-action="RequestPayment" asp-route-id="@request.WinnerId" class="btn btn-warning">پرداخت هزینه</a>
                                                }
                                                else if (request.RequestStatus == StatusEnum.WorkPaidByCustomer)
                                                {
                                                    <a asp-action="SetReview" asp-controller="CustomerDashboard" asp-route-requestId="@request.Id" asp-route-expertId="@request.WinnerId" class="btn btn-success">ثبت نظر</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">هیچ ریکوئستی یافت نشد</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="compare-btn center-50">

                        <a asp-action="Index" class="btn btn-inline">
                            <i class="fas fa-arrow-right"></i><span>بازگشت </span>
                        </a>

                        <a href="#" class="btn btn-inline">
                            <i class="fas fa-eye"></i><span>نمایش لیست بیشتر</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/custom/main.js"></script>
</body>

</html>